#icerik{
	width:960px;
	margin:0 auto;
}
#logom{
	width:87px;
	height:87px;
	float:left;
	margin-left:5px;
	padding-right:10px;
}
#headerust{
	width:960px;
	height:30px;
	background-color:#40626b;
	margin-top:20px;
	padding-top:7px;
}
#headeralt{
	width:960px;
	height:50px;
	background-color:#FF7100;
}
#headerustyazi{
	color:white;
	font-size:18px;
	font-family:Myriad Pro;
	font-style:italic;
}
#headeraltyazi{
	color:white;
	font-size:40px;
	font-family:Myriad Pro;
}
#menubar{
	width:960px;
	height:32px;
	background-color:#009BB2;
	margin-top:10px;
	float:left;
}
#menuUl{
	margin-top:5px;
	padding:0;
}
.menuli{
	list-style-type:none;
	float:left;
	color:black;
	padding-left:40px;
	font-size:20px;
	padding-bottom:2px;
}
a:hover{
	color:white;
}
.iconpic{
	width:25px;
	height:20px;
	margin-bottom:5px;
	float:left;
	padding-right:5px;
}
#binasorgu{
	float:left;
	width:560px;
	margin-top:20px;
}
#searchicon{
	 height:22px;
	 width:22px;
	 float:left;
}
#binabaslik{
	font-family:Myriad Pro;
	font-size:18px;
}
#mapustu{
	width:560px;
	height:26px;
	float:left;
}
#selection{
	width:560px;
	height:36px;
	float:left;
}
#googleMap{
	width:555px;
	height:400px;
	margin-top:65px;
}
#iller{
	color:#402d85;
	font-size:15px;
	float:left;
	margin-top:3px;
}
#ilceler{
	color:#402d85;
	font-size:15px;
	float:left;
	margin-top:3px;
	margin-left:5px;
}
#okullar{
	color:#402d85;
	font-size:15px;
	float:left;
	margin-top:3px;
	margin-left:5px;
}
#duyurular{
	width:400px;
	float:left;
	margin-top:13px;
	font-family:Myriad Pro;
	padding:none;
}
#bookmark{
	height:25px;
	width:25px;
}
#duyurubaslik{
	font-family:Myriad Pro;
	font-size:18px;
	margin-bottom:3px;
}
b:hover{
	color:red;
}
.duyuruline{
	width:390px;
}
#duyurularalti{
	width:400px;
	height:36px;
	float:left;
}
#date{
	height:40px;
	width:40px;	
	float:left;
	margin-left:206px;
}
#autodate{
	float:left;
	margin-top:5px;
}
#hour{
	float:left;
	padding-bottom:3px;
}
.duyururesim{
	width:130px;
	height:88px;
	float:left;
	margin-left:5px;
	padding-right:5px;
}
.basliklar{	
	font-size:13px;
	font-style:bold;
	height:6px;
	width:250px;
	color:#003366;
	float:left;
	margin-left:3px;
	padding-bottom:10px;
}
.metinler{
	font-size:10px;
	padding-bottom:8px;
	text-align:justify;
}
#footer{
	display: block;
	font-family:Myriad Pro;
}
